<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h2 {
            text-align: center;
        }

        table {
            width: 80%;
            border-collapse: collapse;
            margin: 20px auto;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #2d83e6;
            color: white;
        }
        button[type="submit"]
         {
            background-color: #007bff;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 1em;
            align-items: end;
            margin-left: 150px;
}
    a{
            background-color: #007bff;
            color: white;
            padding: 5px 10px;
            border-bottom: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 1em;
            align-items: end;
            margin-left: 15px;
    }
    .container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 

}

.upload-form {
  display: flex;
  align-items: center;
  margin-right: 146px;
}

    </style>
</head>

<body>
    <h2>Display User data</h2>
<div class="container">
  <button type="submit" onclick="location.href='/createUser'">Add User</button>
  <form class="upload-form" action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" id="myFile" accept=".csv" name="myFile">
    <button type="submit" value="Upload">Upload</button>
  </form>
</div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Date Of Birth</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        <tbody>
            <% if (data && data.length > 0) { %>
                <% data.forEach(function(user ,index) { %>
                    <tr>
                        <td><%=index +1 %></td>
                        <td><%= user.name %></td>
                        <td><%= user.email %></td>
                        <td><%= user.dob?.toISOString().split('T')[0]  %></td>
                        <td><%= user.address %></td>
                        <td>
                            <a href="/edit/<%= user.id %>">Edit </a>
                            <a href="/delete/<%= user.id %>">Delete</a>
                        </td>
                    </tr>
                <% }); %>
            <% } else { %>
                <tr>
                    <td colspan="6">No data available.</td>
                </tr>
            <% } %>
        </tbody>
    </table>
</body>

</html>